$width:100px;
$height: 100px;

$display: flex;
$justify: center;
$direction: row;
$align:center;

$ff: Prata ,sens-serif;
$fw: 400;
$fz:14px;
$txt:center;
$lh:50px;
$fc:#fff;


$padd: 0 15px;
$margt: 100px;


$outlin:none;

$l:left;
$t:top;

$br: 3px;
